# There is a client who majors in the sales of food items and would like to determine parameter for future prediction (This is on a demand). Below are the parameters to be determined based on the data set provided

 
##### Group1 - Most of their product are either below or a bit above  10 dollars - We are to determine the below parameters
- How many products cost more than 10.00 dollars?
- How many products cost less than 10.00 dollars?

#### Group 2
- What is the price of each item?
- Sort the products by the name of the item

##### Group 3
- What was the quantity of the most expensive item ordered?
- How many times was a Chicken Burrito ordered?
- How many times did someone order more than one Canned Soda?

In [1]:
import pandas as pd
import numpy as np

In [24]:
sales_data = pd.read_csv('salesdata.csv')
sales_data

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Izze,[Clementine],$3.39
1,1,1,Nantucket Nectar,[Apple],$3.39
2,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
3,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
4,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
...,...,...,...,...,...
195,115,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.99
196,116,1,Steak Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]",$9.25
197,117,1,Barbacoa Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Pinto Beans...",$8.99
198,118,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
199,119,1,Chicken Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49

### GROUP 1

In [25]:
# How many products cost more than 10.00 dollars?

#first lets convert 'item_price' to int
sales_data['item_price'] = sales_data['item_price'].str.replace('[/$/.]', '').astype(int)

C:\Users\840 g5\AppData\Local\Temp\ipykernel_21700\2466140954.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  sales_data['item_price'] = sales_data['item_price'].str.replace('[/$/.]', '').astype(int)

In [29]:
sales_data['item_price'] = sales_data['item_price'] / 100

In [167]:
# how many products cost more than 10 dollars? 
count = sales_data[sales_data['item_price'] > 10].count()
count

order_id              60
quantity              60
item_name             60
choice_description    60
item_price            60
dtype: int64

In [148]:
# How many products cost more than 10.00 dollars?
for x in sales_data['item_price']:
    if x > 10:
        print(str(x))

16.98
10.98
11.75
11.25
10.98
11.75
11.25
11.75
10.98
10.98
11.25
11.75
11.25
10.98
11.25
11.75
11.75
11.75
11.75
11.25
11.75
10.98
22.5
11.75
11.25
11.25
11.25
11.25
11.75
11.48
17.98
17.5
17.5
11.25
11.75
10.98
10.98
11.48
11.25
11.75
10.98
11.48
11.25
11.48
11.25
10.98
11.25
11.25
11.25
11.25
22.5
11.75
17.5
11.25
11.75
11.75
17.5
10.98
10.98
11.75

In [169]:
# How many products cost less than 10.00 dollars?
count_less = sales_data[sales_data['item_price'] < 10].count()
count_less

order_id              140
quantity              140
item_name             140
choice_description    140
item_price            140
dtype: int64

In [171]:
for x in sales_data['item_price']:
    if x < 10:
        print(str(x))

3.39
3.39
9.25
9.25
8.75
8.75
8.49
8.49
2.18
8.75
8.99
3.39
3.39
8.49
8.99
1.09
8.49
8.99
8.99
8.75
8.75
8.75
8.99
3.39
8.99
8.99
2.18
1.09
8.99
9.25
9.25
8.75
8.99
8.99
3.39
8.99
8.99
8.99
8.75
8.75
8.75
8.75
9.25
8.75
8.75
9.25
8.49
8.99
9.25
9.25
9.25
8.75
8.75
8.99
8.99
8.49
3.39
8.99
1.09
9.25
8.75
8.49
8.99
8.49
1.09
8.99
8.75
9.25
8.99
1.09
9.25
8.49
9.25
8.49
8.49
2.18
8.49
8.75
8.49
2.18
8.49
3.39
8.49
8.99
8.49
1.09
1.09
9.25
8.75
9.25
8.49
8.49
8.99
8.75
1.09
8.99
8.49
1.09
8.75
8.49
3.39
8.75
9.25
8.75
8.75
9.25
8.75
9.25
8.75
8.99
1.09
8.99
8.75
9.25
9.25
9.25
8.75
9.25
8.99
1.09
1.09
1.09
8.99
1.09
8.75
8.75
9.25
9.25
8.75
8.75
8.99
8.99
8.99
1.09
1.25
8.99
9.25
8.99
8.49
8.49

## GROUP 2

In [200]:
# What is the price of each item?
item_name = sales_data['item_name']
item_price = sales_data['item_price']
pd.concat([item_name, item_price], axis = 1)

               item_name  item_price
0                   Izze        3.39
1       Nantucket Nectar        3.39
2           Chicken Bowl       16.98
3           Chicken Bowl       10.98
4          Steak Burrito       11.75
..                   ...         ...
195        Steak Burrito        8.99
196     Steak Soft Tacos        9.25
197  Barbacoa Soft Tacos        8.99
198      Chicken Burrito        8.49
199      Chicken Burrito        8.49

[200 rows x 2 columns]

In [210]:
# Sort the products by the name of the item
sales_data.sort_values(by = ['item_name'])

,order_id,quantity,item_name,choice_description,item_price
41,27,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
95,61,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
90,56,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Rice, Pinto Beans...",9.25
26,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
185,110,1,Barbacoa Bowl,"[Tomatillo Red Chili Salsa, [Rice, Cheese, Let...",9.25
...,...,...,...,...,...
184,110,1,Veggie Bowl,"[Roasted Chili Corn Salsa, [Rice, Pinto Beans,...",8.75
162,99,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.25
40,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
74,46,1,Veggie Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
132,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25

## Group 3

In [228]:
# What was the quantity of the most expensive item ordered?

most_expensive = sales_data[['item_name', 'item_price']].groupby('item_name').max().sort_values('item_price', ascending= False)
most_expensive

                       item_price
item_name
Chicken Salad Bowl          22.50
Steak Burrito               17.98
Chicken Bowl                17.50
Chicken Burrito             17.50
Chicken Crispy Tacos        17.50
Barbacoa Bowl               11.75
Barbacoa Crispy Tacos       11.75
Carnitas Bowl               11.75
Carnitas Burrito            11.75
Steak Bowl                  11.75
Barbacoa Burrito            11.75
Chicken Soft Tacos          11.25
Veggie Burrito              11.25
Veggie Bowl                 11.25
Veggie Salad Bowl           11.25
Chicken Salad               10.98
Carnitas Soft Tacos          9.25
Steak Crispy Tacos           9.25
Steak Soft Tacos             9.25
Barbacoa Soft Tacos          9.25
Izze                         3.39
Nantucket Nectar             3.39
Canned Soda                  2.18
Canned Soft Drink            1.25

In [235]:
# How many times was a Chicken Burrito ordered?

sales_data[sales_data['item_name'] == 'Chicken Burrito'].value_counts()

order_id  quantity  item_name        choice_description                                                                                                                                   item_price
8         1         Chicken Burrito  [Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Cheese, Sour Cream]]                                                                            8.49          1
88        1         Chicken Burrito  [Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]                                                                      8.49          1
75        1         Chicken Burrito  [Tomatillo Red Chili Salsa, [Rice, Cheese, Sour Cream]]                                                                                              8.75          1
76        1         Chicken Burrito  [[Tomatillo-Red Chili Salsa (Hot), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, Cheese, Lettuce]]                                                 8.49          1
77        1         Chicken Burrito  [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                                  8.49          1
78        1         Chicken Burrito  [Tomatillo-Green Chili Salsa (Medium), Lettuce]                                                                                                      8.49          1
81        1         Chicken Burrito  [Tomatillo-Green Chili Salsa (Medium), [Rice, Fajita Veggies, Cheese, Sour Cream]]                                                                   8.49          1
84        1         Chicken Burrito  [Roasted Chili Corn Salsa (Medium), [Rice, Cheese, Lettuce]]                                                                                         8.49          1
                                     [Roasted Chili Corn Salsa (Medium), [Rice, Cheese, Sour Cream, Lettuce]]                                                                             8.49          1
90        1         Chicken Burrito  [Tomatillo Green Chili Salsa, [Rice, Pinto Beans, Sour Cream, Cheese, Lettuce]]                                                                      8.75          1
73        1         Chicken Burrito  [[Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Cheese, Guacamole, Lettuce]]              10.98         1
90        1         Chicken Burrito  [Tomatillo Red Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]                                                             11.25         1
91        1         Chicken Burrito  [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                                  8.49          1
96        1         Chicken Burrito  [Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                                                 8.75          1
105       2         Chicken Burrito  [Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                        17.50         1
106       1         Chicken Burrito  [Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream]]                                                                                        8.75          1
107       1         Chicken Burrito  [Roasted Chili Corn Salsa (Medium), [Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]                                                  10.98         1
118       1         Chicken Burrito  [Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]                                                                      8.49          1
75        1         Chicken Burrito  [Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                                                         11.25         1
72        1         Chicken Burrito  [[Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]  10.98         1
9         1         Chicken Burrito  [Fresh Tomato Salsa (Mild), [Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                                        8.49          1
36        1         Chicken Burrito  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                               8.75          1
12        1         Chicken Burrito  [[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]               10.98         1
15        1         Chicken Burrito  [Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]                                                                      8.49          1
21        1         Chicken Burrito  [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]                                             10.98         1
24        1         Chicken Burrito  [Roasted Chili Corn Salsa (Medium), [Black Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]                                     10.98         1
28        1         Chicken Burrito  [Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                                                                                    8.75          1
30        1         Chicken Burrito  [Tomatillo-Red Chili Salsa (Hot), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Guacamole, Lettuce]]                                             10.98         1
33        1         Chicken Burrito  [Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                                                 8.75          1
37        1         Chicken Burrito  [Tomatillo Green Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese]]                                                                               8.75          1
69        1         Chicken Burrito  [Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]                                                                      8.49          1
43        1         Chicken Burrito  [Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese]]                                                                                             8.75          1
50        1         Chicken Burrito  [Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]                                                                      8.49          1
51        1         Chicken Burrito  [[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Cheese, Lettuce]]                                      8.49          1
53        1         Chicken Burrito  [Tomatillo Red Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce]]                                                                        8.75          1
58        1         Chicken Burrito  [Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Cheese, Sour Cream]]                                                                      8.49          1
59        1         Chicken Burrito  [Roasted Chili Corn Salsa (Medium), [Rice, Black Beans, Sour Cream, Guacamole]]                                                                      10.98         1
68        2         Chicken Burrito  [Tomatillo Red Chili Salsa, [Rice, Black Beans, Sour Cream, Cheese, Lettuce]]                                                                        17.50         1
119       1         Chicken Burrito  [[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]                   8.49          1
dtype: int64

In [213]:
# How many times did someone order more than one Canned Soda?